@import '../../styles/variables.css';

.BlogpostsList {

  &__header {
    padding:  calc(var(--baseline) * 4) 0 0 0;
    border-bottom: 1px solid var(--color-bg-dirtyBlue);
  }

  &__title {
    font-family: 'Nunito', sans-serif;
    font-size: calc(var(--baseline) * 3);
    font-weight: 600;
    color: var(--color-text-black);
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-black);
  }

  &__body {
    padding:  calc(var(--baseline) * 3) 0;
  }
}
