@import '../../../styles/variables.css';


.LabeledInput {
  display: block;
  width: 100%;

  &__label {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--color-text-black);
  }

  &__error {
    font-size: 0.875rem;
    color: var(--color-accent-red);
  }
}
  .LabeledInput_inverse {
    /**/

    & .LabeledInput__label {
      color: white;
    }
  }
