@import '../../styles/variables.css';


.SearchBar {
  position: relative;
  width: 100%;
}
  .SearchBar:before {
    content: '';
    display: inline-block;

    position: absolute;
    top: 0; left: 0;

    height: calc(var(--baseline) * 4);
    width:  calc(var(--baseline) * 4);


    background: url('/antivax/images/search.svg') center center no-repeat;
    background-size: 60% 60%;
  }

  .SearchBar__input {
    display: inline-block;
    width: 100%;
    padding: calc(var(--baseline) );
    padding-left: 4rem;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 300;
    line-height: calc(var(--baseline) * 2);

    background: color(white alpha(-10%));
    border: none;
    border-radius: 3px;
  }
