@import '../../styles/variables.css';


.Bg {
  background: var(--colorMain);
}


.Footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  max-width: var(--pageWidthXS);
  padding: calc( var(--baseline) * 7) 0;
}


.Block {
  color: var(--colorMainLLL);

  &__title {
    margin-bottom: var(--baseline);

    font-weight:400;
    color: var(--colorMainLLL);
    text-transform: uppercase;
  }


  &__item {
    display: block;
    font-weight:300;
  }
    .&__item_emph {
      font-weight: 600;
    }


  &__link {
    color: white;
    text-decoration: none;
  }
    &__link:hover {
      text-decoration: underline;
    }
}

