@import '../../styles/variables.css';

.Header {
  background: var(--color-bg-darkBlue);
  border-bottom: 1px solid var(--color-bg-dirtyBlue);

  &__navigationBar {
    padding: calc(var(--baseline) * 1) 0;
    border-bottom: 1px solid var(--color-text-grey);
  }

  &__body {
    padding: calc(var(--baseline) * 1.5) 0;
  }

  &__logo {
    display: block;
    width: calc(var(--baseline) * 20/3);
  }

  &__title {
    font-family: 'Nunito', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: calc(var(--baseline) * 3.5);

    color: white;
  }

  &__subtitle {
    font-weight: 500;
    color: white;
    opacity: 0.65;
  }

  &__search {
    width: calc(var(--baseline) * 30);
  }

  &__menuBtn {
    display: block;
    width: calc(var(--baseline) * 3);
    height: calc(var(--baseline) * 3);

    color: white;
    text-align: center;

    border: none;
    background: url('./menu.svg');
    background-position: center center;
    background-repeat: no-repeat;

    cursor: pointer;
  }
}
