@import '../../../styles/variables.css';

.Heading3 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: calc(var(--baseline) * 2);

  color: var(--color-text-black);
}
  .Heading3Link {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
