@import '../../styles/variables.css';


.Content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;

  color: var(--colorMainL);

  & p,
  & ul,
  & ol {
    margin-bottom: calc(var(--baseline) * 2);
    text-align: justify;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & a {
    color: var(--colorAccent);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  & ul,
  & ol {
    margin-left: calc(var(--baseline) * 2);
  }

  & li {
    margin-bottom: calc(var(--baseline) / 2);
  }

  & h1 {
    margin-bottom: calc(var(--baseline) * 3);

    font-family: 'Nunito', sans-serif;
    font-size: calc(var(--baseline) * 3);
    font-weight: 300;
    line-height: calc(var(--baseline) * 4);

    color: var(--colorMain);
  }

  & h2 {
    margin-bottom: calc(var(--baseline) / 2);

    font-family: 'Nunito', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: calc(var(--baseline) * 2.5);

    color: var(--colorMain);
  }
}
