@import '../../styles/variables.css';


.Breadcrumbs {
  
  &__item {
    display: inline-block;
    padding-right: calc(var(--baseline) / 4);

    font-size: 0.875rem;
    font-weight: 300;

    color: var(--colorAccent);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:before {
      content: '\002F';
      display: inline-block;
      padding-right: calc(var(--baseline) / 4);
    }
  }
}
