@import '../../styles/variables.css';

.AskQuestion {
  width: calc(var(--baseline) * 35);
  margin-top: calc(var(--baseline) * 5);
  margin-bottom: calc(var(--baseline) * 5);
  padding: 0 calc(var(--baseline) * 3);

  border: 1px solid var(--color-bg-dirtyBlue);
  border-radius: 0.125rem;

  &__header {
    padding: calc(var(--baseline) * 1.5) 0;
    border-bottom: 1px solid var(--color-bg-dirtyBlue);
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
  }

  &__body {
    padding: calc(var(--baseline) * 2) 0;
  }

  &__text {
    text-align: justify;
    color: var(--color-text-black);
  }

  &__signature {
    font-weight: 600;
    color: var(--color-text-black);
  }

  &__form {
    display: block;
    padding: 0 0 calc(var(--baseline) * 2) 0;
  }
}
