@import '../../styles/variables.css';


.Heading3 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: calc(var(--baseline) * 3);

  color: var(--colorMain);
}
  .Heading3Link {
    text-decoration: none;
    color: var(--colorMain);

    &:hover {
      text-decoration: underline;
    }
  }
