@import '../../styles/variables.css';

.page {
  padding: calc(var(--baseline) * 6) 0;
}

.entry {
  &__body {

  }

  &__footer {

  }

  &__date {
    font-size: 0.875rem;
    color: var(--colorMainLLL);
  }
}
