@import '../styles/variables.css';


.Contact {


  &__image {
    display: block;
    width: 100%;
    max-width: calc(var(--baseline) * 18);
    margin: 0 auto;

    border-radius: 50%;
    box-shadow: 0 0 1px var(--colorMain);
  }

  &__name {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: calc(var(--baseline) * 2);

    color: var(--colorMain);
    text-align: center;
  }

  &__affiliation {
    color: var(--colorMainL);
  }
}
