@import '../../styles/variables.css';


.SearchResultsPage {
  max-width: var(--pageWidthM);
  padding: calc(var(--baseline) * 6) 0;

  &__body {
    max-width: var(--pageWidthS);
  }
}

.EmptySearchResultsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--baseline) * 12);

  &__img {
    display: block;
    width: calc(var(--baseline) * 18);
    height: calc(var(--baseline) * 18);

    background: url('/images/emptySearch.svg') center center no-repeat;
    background-size: 100% 100%;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: calc(var(--baseline) * 2.5);
    line-height: calc(var(--baseline) * 4);

    color: var(--colorMainLLL);
  }
}
