@import '../../styles/variables.css';

.SideNav {
  padding-left: calc(var(--baseline) * 3);

  &__title {

  }

  &__item {
    display: block;
    width: 100%;
    padding: calc(var(--baseline)  * 3/4)
             calc(var(--baseline) * 2)
             calc(var(--baseline) * 3/4)
             0;

    color: var(--colorMainL);
    text-decoration: none;

    border-right: 4px solid white;

    &:hover {
      text-decoration: underline;
    }
  }
    &__item_active {
      color: var(--colorAccent);

      border-color: var(--colorAccent);
    }
}
