@import '../../styles/variables.css';


.Heading1 {
  font-family: 'Nunito', sans-serif;
  font-size: calc(var(--baseline) * 3);
  font-weight: 300;
  line-height: calc(var(--baseline) * 4);

  color: var(--colorMain);
}

.Heading1Link {
  text-decoration: none;
  color: var(--colorMain);

  &:hover {
    text-decoration: underline;
  }
}
