@import '../../styles/variables.css';


.QuestionsPage {
  max-width: var(--pageWidthM);

  &__sidebar {
    padding:  calc(var(--baseline) * 6) 0;
  }

  &__body {
    padding:  calc(var(--baseline) * 6);
  }
}
