@import './variables.css';


.hPrimary {
  font-family: 'Nunito', sans-serif;
  font-size: calc(var(--baseline) * 3);
  font-weight: 300;
  line-height: calc(var(--baseline) * 4);
}

.hSecondary {
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(var(--baseline) * 2);

  text-transform: uppercase;
  color: var(--colorMainLL);
}

.hTertiary {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  line-height: calc(var(--baseline) * 3);

  color: var(--colorMain);
}

.link {
  color: var(--colorAccent);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.text {
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(var(--baseline) * 2.5);

  color: var(--colorMainL);
}

.content {
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(var(--baseline) * 2.5);

  color: var(--colorMainL);


  & p,
  & ul,
  & ol {
    margin-bottom: calc(var(--baseline) * 2);

  }

  & ul,
  & ol {
    margin-left: calc(var(--baseline) * 2);
  }

  & li {
    margin-bottom: calc(var(--baseline) / 2);
  }

  & h1 {
    margin-bottom: calc(var(--baseline) * 3);

    font-family: 'Nunito', sans-serif;
    font-size: calc(var(--baseline) * 3);
    font-weight: 300;
    line-height: calc(var(--baseline) * 4);

    color: var(--colorMain);
  }

  & h2 {
    margin-bottom: calc(var(--baseline) / 2);

    font-size: 1.125rem;
    font-family: 'Nunito', sans-serif;
    line-height: calc(var(--baseline) * 3);

    color: var(--colorMain);
  }
}
