@import './variables.css';


.button {
  display: inline-block;
  padding: var(--baseline) calc(var(--baseline) * 4);

  font-size: 1em;
  font-weight: 400;
  line-height: calc(var(--baseline) * 2);

  text-transform: uppercase;
  text-decoration: none;
  color: white;

  background: var(--colorAccent);
  border-radius: 0.188rem;
  box-shadow: 0 1px color(var(--colorAccent) lightness(-50%));

  transition-property: background;
  transition-duration: 0.1s;
}
  .button:hover {
    background: color(var(--colorAccent) lightness(+5%));
  }
  .button:active {
    background: color(var(--colorAccent) lightness(-10%));
  }
