:root {
  --fontFamily: 'Open Sans', sans-serif;
  --baseline: 0.75rem; /* 12px */
/* legacy */
  --colorMain:    #2C3643;
  --colorMainL:   #5B636D;
  --colorMainLL:  #7C8795;
  --colorMainLLL: #9FB3CB;

  --colorAccent:  #68A1E4;
  --colorError:   #E46868;
  --colorSuccess: #6EB96F;
/* new */
  --color-bg-darkBlue:  #405065;
  --color-bg-lightBlue: #F5FBFF;
  --color-bg-dirtyBlue: #96ABC5;

  --color-accent-blue:  #2E84E8;
  --color-accent-red:   #FF6363;

  --color-text-black:   #2C3643;
  --color-text-grey:    #7C8896;
}
