@import '../../styles/variables.css';

.Content {
  font-weight: 400;
  color: var(--color-text-black);

  & p,
  & ul,
  & ol {
    margin-bottom: calc(var(--baseline) * 1.5);
    text-align: justify;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & a {
    color: var(--color-accent-blue);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  & ul,
  & ol {
    margin-left: calc(var(--baseline) * 1.5);
  }

  & li {
    margin-bottom: calc(var(--baseline) * 1);
  }

  & h1 {
    margin-bottom: calc(var(--baseline) * 2);

    font-family: 'Nunito', sans-serif;
    font-size: calc(var(--baseline) * 2);
    font-weight: 300;
    line-height: calc(var(--baseline) * 3);

    color: var(--color-text-black);
  }

  & h2 {
    margin-bottom: calc(var(--baseline) * 1);

    font-size: 1rem;
    font-weight: 700;
    line-height: calc(var(--baseline) * 2);

    color: var(--color-text-black);
  }
}
