@import '../../variables.css';


.Sitename {
  padding:  calc(var(--baseline) * 5)
            0
            calc(var(--baseline) * 3)
            0;

  color: white;

  background: url('/images/header-mask.svg') no-repeat center top;
}

.Sitename__logo {
  display: block;
  max-width: calc(var(--baseline) * 12);
  margin: 0 auto;
}

.Sitename__title {
  font-family: 'Nunito', sans-serif;
  font-size: calc(var(--baseline) * 4.5);
  font-weight: 400;
  line-height: calc(var(--baseline) * 4.5);
}

.Sitename__subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: var(--modL);
}
