@import '../../styles/variables.css';

.AskQuestionSide {
  padding-left: calc(var(--baseline) * 2);
  padding-right: calc(var(--baseline) * 3);

  &__image {
    width: calc(var(--baseline) * 12);
    height: calc(var(--baseline) * 12);

    border: 1px solid var(--colorMainLL);
    border-radius: 50%;
  }

  &__text {
    color: var(--colorMainL);
  }

  &__title {
    font-family: 'Nunito', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: calc(var(--baseline) * 3);
  }
}
