@import '../../styles/variables.css';

.Comment {
  padding: calc(var(--baseline) * 2) 0;
  border-top: 1px solid var(--color-bg-dirtyBlue);

  &__info {
    font-size: 0.875rem;
    color: var(--color-text-grey);
  }

  &__replies {
    padding-left: calc(var(--baseline) * 6);
  }
}
