@import '../../../styles/variables.css';


.Button {
  padding: 0 calc(var(--baseline) * 1.5);
  height: calc(var(--baseline) * 3);
  display: inline-block;

  font-size: 0.875rem;
  font-weight: 500;
  /*line-height: calc(var(--baseline) * 3);*/

  text-decoration: none;

  border-radius: 3px;
  border: none;

  transition-property: color, background;
  transition-duration: 0.2s, 0.2s;

  cursor: pointer;
}
  .Button_accent1 {
    color: white;
    background: var(--color-accent-blue);

    &:hover {
      background: color(var(--color-accent-blue) lightness(+10%));
    }

    &:active {
      background: color(var(--color-accent-blue) lightness(-10%));
    }

    &:disabled {
      background: color(var(--color-accent-blue) lightness(+25%));
    }
  }
  .Button_accent2 {
    color: white;
    background: var(--color-accent-red);

    &:hover {
      background: color(var(--color-accent-red) lightness(+10%));
    }

    &:active {
      background: color(var(--color-accent-red) lightness(-10%));
    }

    &:disabled {
      background: color(var(--color-accent-red) lightness(+25%));
    }
  }
  .Button_hasPrefix {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .Buttom_hasSuffix {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
