@import '../../styles/variables.css';

.BlogpostsListItem {

  &__title {
    font-family: 'Nunito', sans-serif;
    font-size: calc(var(--baseline) * 2);
    font-weight: 300;

    color: var(--color-text-black);
  }

  &__snippet {

  }

  &__timestamp {
    font-size: 0.875rem;
    color: var(--color-text-grey);
  }
}
