@import '../../../styles/variables.css';

.Heading2 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: calc(var(--baseline) * 3);

  color: var(--color-text-black);
}
  .Heading2_link {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
  .Heading2_underline {
    border-bottom: 1px solid var(--color-bg-dirtyBlue);
  }
