@import '../../styles/variables.css';

.ArticlePage {
  /*padding-top: calc(var(--baseline) * 2);*/

  &__title {
    font-family: 'Nunito', sans-serif;
    font-size: calc(var(--baseline) * 2);
    font-weight: 300;

    color: var(--color-text-black);
  }

  &__timestamp {
    font-size: 0.875rem;
    color: var(--color-text-grey);
  }
}
