@import '../../styles/variables.css';

.Navigation {
  padding: 0 calc(var(--baseline) * 2);
  background: var(--color-bg-darkBlue);

  &__item {
    display: block;
    padding: calc(var(--baseline) * 1.5) calc(var(--baseline) * 1.5);

    font-weight: 500;

    color: white;
    text-decoration: none;

    opacity: 0.65;
    transition-property: opacity;
    transition-duration: 0.2s;
  }
    &__item_active {
      opacity: 1;
    }
    &__item_parent_active {

    }
}

.Subnavigation {
  padding: 0 calc(var(--baseline) * 2);
  background: var(--color-bg-lightBlue);
  border-bottom: 1px solid var(--color-bg-dirtyBlue);

  &__item {
    display: block;
    padding: calc(var(--baseline) * 1.5 - 0.25) calc(var(--baseline) * 1.5 - 0.25);

    font-weight: 500;

    color: var(--color-bg-dirtyBlue);
    text-decoration: none;

    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    transition-property: color, border-color;
    transition-duration: 0.2s, 0.2s;
  }
    &__item_active {
      color: var(--color-bg-darkBlue);
      border-bottom-color: var(--color-bg-dirtyBlue);
    }
}
