@import '../../../styles/variables.css';


.TextArea {
  display: block;
  width: 100%;
  padding: calc(var(--baseline)) calc(var(--baseline) * 1);

  font: inherit;

  background: none;
  border: 1px solid var(--color-bg-dirtyBlue);
  border-radius: 0.125rem;

  resize: none;
}
  .TextArea_error {
    border-color: var(--color-accent-red);
  }
