@import '../../styles/variables.css';


.Bg {
  background: var(--colorMain);
}


.Footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  max-width: var(--pageWidthXS);
  padding: calc( var(--baseline) * 7) 0;
}
