@import '../../styles/variables.css';


.SearchResultsItem {
  display: block;
  width: 100%;

  &__body {
    display: inline-block;

    &:before,
    &:after {
      content: '\2026';
      display: inline-block;
    }

    & em {
      font-style: normal;
      display: inline-block;
      background: rgba(253, 255, 2, 0.2);
    }
  }
}
