@import '../../styles/variables.css';


.SearchResultsItem {
  display: block;
  width: 100%;
  padding-top: calc(var(--baseline) * 2);

  border-top: 1px solid var(--colorMainLLL);

  &__body {
    display: inline-block;

    &:before,
    &:after {
      content: '\2026';
      display: inline-block;
    }

    & em {
      font-style: normal;
      background: rgba(253, 255, 2, 0.2);
    }
  }
}
