@import '../../styles/variables.css';


.SearchBar {
  position: relative;

  border-bottom: 1px solid var(--colorMainL);
}
  .SearchBar:before {
    content: '';
    display: inline-block;

    position: absolute;
    top: 0; left: 0;

    height: 4.5rem;
    width:  4.5rem;

    background: url('/images/search.svg') center center no-repeat;
    background-size: 40% 40%;
  }

  .SearchBar__input {
    display: inline-block;
    width: 100%;
    padding: var(--baseline);
    padding-left: 4.5rem;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;;
    font-style: italic;
    font-weight: 300;
    line-height: calc(var(--baseline) * 4);

    border: none;
  }
