@import '../../styles/variables.css';


.StaticSection {
  max-width: var(--pageWidthM);

  &__sidebar {
    height: 100%;
    padding:  calc(var(--baseline) * 6) 0;

    border-right: 1px solid var(--colorMainLLL);
  }

  &__body {
    padding: calc(var(--baseline) * 6);
  }
}
