:root {
  --pageWidthS: 50rem;   /* 800px */
  --pageWidth:  62.5rem; /* 1000px */
  --pageWidthM: 81.25rem;   /* 1300px */
  --pageWidthL: 87.5rem; /* 1400px */

  --baseline: 0.75rem; /* 12px */

  --colorMain:    #2C3643;
  --colorMainL:   #5B636D;
  --colorMainLL:  #7C8795;
  --colorMainLLL: #ADB1B6;

  --modS: calc(var(--baseline) / 2 );
  --modM: calc(var(--baseline) * 3/2 );
  --modL: calc(var(--baseline) * 2 );
}
