@import '../../../styles/variables.css';


.TextInput {
  display: block;
  width: 100%;
  height: calc(var(--baseline) * 3);
  padding: 0 var(--baseline);

  font-family: var(--fontFamily);
  font-size: 0.875rem;
  line-height: calc(var(--baseline) * 3);

  background: white;
  border: 1px solid var(--color-bg-dirtyBlue);
  border-radius: 0.125rem;
}
  .TextInput_error {
    border-color: var(--color-accent-red);
  }
  .TextInput_inverse {
    border-color: transparent;
  }
  .TextInput_withPrefix {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
  .TextInput_withSuffix {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }
