@import '../../styles/variables.css';


.Bg {
  background-color: color(var(--colorMain) alpha(-8%));
}


.Wrap {
  max-width: var(--pageWidthM);
  position: relative;
}


.Indicator {
  width: 20%;
  height: 3px;
  position: absolute;
  top: 0;

  background-color: white;

  transition-property: left;
  transition-duration: 0.2s;
}
  .Indicator_0 {
    left: 0;
  }
  .Indicator_1 {
    left: 20%;
  }
  .Indicator_2 {
    left: 40%;
  }
  .Indicator_3 {
    left: 60%;
  }
  .Indicator_4 {
    left: 80%;
  }


.Item {
  display: block;
  padding:  calc(var(--baseline) * 1.5)
            0
            calc(var(--baseline) * 1.5)
            0;

  font-weight: 600;
  line-height: var(--modL);

  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  opacity: 0.75;
  transition-property: opacity;
  transition-duration: 0.2s;
}
  .Item_active {
    opacity: 1;
  }
